.header{
    height: 60px;
    display:flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 70px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 0px;
}

.header_logo:hover{
    transform:scale(1.25);
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.header_input{
    width: 100%;
}
.header_search{
    display: flex;
    flex-grow : 1;
    /* align-items: center; */
    border-radius: 24px;
    /* width: 70px; */
    /* object-fit: contain; */
    /* padding: 5px; */
    /* height: 22px !important; */
    /* margin: 20 0px; */
    /* margin-top: 0px; */
}

.header_icon{
padding: 5px;
height: 22px !important;
background-color: #ec4c84;
}

.header_optionLineOne{
font-size: 10px;
}

.header_optionLineTwo{
    font-size: 13px;
    font-weight: 700;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;

}

.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;

}